<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Image Classifier</title>
     <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css" />
</head>
<body>
     <section class="hero is-primary is-fullheight">
          <div class="hero-head">
               <nav class="navbar">
                    <div class="container">
                         <div id="navbarMenuHeroA" class="navbar-menu">
                              <div class="navbar-end">
                                   <a href="/" class="navbar-item">Home</a>
                                   <a href="viewDataBase" class="navbar-item">View gallery</a>
                              </div>
                         </div>
                    </div>
               </nav>
          </div>
          <div class="hero-body">
               <div class="container has-text-centered">
                  {% block content %}
                  {% endblock %}
               </div>
           </div>
          <footer data-stellar-background-ratio="5">
               <div class="container">
                    <div class="row">
                         <div class="col-md-12 col-sm-12 border-top">
                              <div class="col-md-4 col-sm-6">
                                   <div class="copyright-text"> 
                                        <p>By Joshua Momanyi</p>
                                   </div>
                              </div>
                              <div class="col-md-6 col-sm-6">
                                   <div class="footer-link"> 
                                        
                                        <a href="#">Save</a>
                                   </div>
                              </div>
                              <div class="col-md-2 col-sm-2 text-align-center">
                                   <div class="angle-up-btn"> 
                                   <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s"><i class="fa fa-angle-up"></i></a>
                                   </div>
                              </div>   
                         </div>
                         
                    </div>
               </div>
          </footer>
     </section>
</body>
</html>
